#!/usr/bin/env bash

export AWS_AMI='ami-e251209a'
export AWS_REGION='us-west-2'
export AWS_INSTANCE_TYPE='m4.10xlarge'
export AWS_EBS_GIGABYTES='5000'

export AWS_KEYPAIR_NAME='cv-sandbox'

export AWS_INSTANCE_TAG_NAME='cv_demux'
export AWS_INSTANCE_TAG_OWNER='clintvalentine'

export PRIVATE_KEY_PATH="~/.ssh/dev-cv-sandbox.pem"
