#!/usr/bin/env bash

export AWS_AMI='ami-e251209a'
export AWS_REGION='us-west-2'
export AWS_INSTANCE_TYPE='t2.micro'

export AWS_KEYPAIR_NAME='cv-sandbox'

export AWS_INSTANCE_TAG_NAME='CV TempInstance'

export PRIVATE_KEY_PATH="~/.ssh/${AWS_KEYPAIR_NAME}.pem"
